# Gravitino 连接配置
GRAVITINO_ENDPOINT=http://localhost:8090
GRAVITINO_METALAKE=metalake_demo
GRAVITINO_CATALOG=demo_fileset_catalog
GRAVITINO_SCHEMA=demo
GRAVITINO_USERNAME=admin
GRAVITINO_AUTH_TYPE=simple

# Fileset 名称
INPUT_FILESET=input
OUTPUT_FILESET=output
